@use "../global" as global;
@use "../global/variable" as *;

:root {
  scroll-behavior: smooth;
  // --fontSize: $fz-base; //16
  --darkGray: #{$darkGray};
  --lightGray: #{$darkGray};
  --white: #{$white};
  --white-rgb: 255, 255, 255;
  --black: #{$black};
  --peach: #{$peach};
  --lightPeach: #{$lightPeach};
  --beige: #{$beige};
  --headerH: 96px;

  @include global.mq(md) {
    --headerH: 155px;
  }
}

* {
  /* clamp-sizeの変数 */
  /*  --min-size: 0;
    --max-size: 100;
    margin-block-start: var(--clamp-size) のように使う */

  --min-viewport: 375;
  --max-viewport: 1440;

  /* a 傾き */
  --slope: calc(
    (var(--max-size) - var(--min-size)) /
      (var(--max-viewport) - var(--min-viewport))
  );
  /* b 切片 */
  --intercept: calc(var(--min-size) - var(--slope) * var(--min-viewport));
  /* y = ax + b */
  --fluid-size: calc(var(--slope) * 100vw + var(--intercept) / 16 * 1rem);

  /* clamp( 最小サイズ , 可変サイズ , 最大サイズ) */
  --clamp-size: clamp(
    var(--min-size) / 16 * 1rem,
    var(--fluid-size),
    var(--max-size) / 16 * 1rem
  );
}

body {
  font-family: #{$ff};
  font-size: #{$fz-base};
  font-weight: #{$fw-base};
  color: var(--darkGray);
  line-height: #{$lh-base};
}

body.u-noScroll {
  overflow: hidden;
}

a {
  cursor: pointer;
}

p {
  line-break: strict;
}

p:empty {
  display: none;
}
