<div class="p-cta c-bgCircles">
  <div class="p-cta__body">
    <h3 class="p-cta__title c-heading5 u-textWhite">
      Let’s talk about<br />your project
    </h3>
    <p class="p-cta__text c-textSpSm u-textWhite">
      Ready to take it to the next level? Contact us today and find out how our
      expertise can help your business grow.
    </p>
  </div>
  <a class="c-buttonPrimary" href=""><span>Get in touch</span></a>
</div>
