<div class="p-projectCategories">
  <% if (categories && categories.length) { %> <% categories.forEach(category =>
  { %>

  <a
    href="./works-<%= category.class%>.html"
    class="p-projectCategories__item <%= category.class %>"
  >
    <h2 class="c-heading2 --spSm"><%= category.name %></h2>
    <span>VIEW PROJECTS</span>
  </a>
  <% }) %> <% } %>
</div>
