<div class="p-projectCategories">
  <% if (categories && categories.length) { %> <% categories.forEach(category =>
  { %>

  <div class="p-projectCategories__item <%= category.class %>">
    <h2 class="c-heading2 --spSm"><%= category.name %></h2>
    <a href=""><span>VIEW PROJECTS</span></a>
  </div>
  <% }) %> <% } %>
</div>
