<div class="c-card">
  <figure class="c-card__img">
    <img src="./assets/img/location1-min.png" alt="" />
  </figure>
  <div class="c-card__body">
    <h2 class="c-card__city c-heading3">CANADA</h2>
    <p class="c-card__text">
      Each project starts with an in-depth brand research to ensure we only
      create products that serve a purpose. We merge art, design, and technology
      into exciting new solutions.
    </p>
    <a href="" class="c-buttonPrimary --rev"><span>SEE LOCATION</span></a>
  </div>
  <!-- /c-card__body -->
</div>
<!-- /c-card -->
