<%- include('partials/header', { page: "contact-thanks"}) %>

<div class="l-inner">
  <div class="p-contactThanks">
    <p class="c-heading5">Thank you for your contact.</p>
  </div>
</div>
<%- include('partials/footer') %>
