<%- include('partials/header', { page: "top", bg:"c-bg1"}) %>

<div class="l-inner">
  <div class="p-MV">
    <div class="p-MV__body">
      <h2 class="p-MV__heading c-heading1">
        Award-winning custom designs and digital branding solutions
      </h2>
      <p class="p-MV__text c-textSpSm">
        With over 10 years in the industry, we are experienced in creating fully
        responsive websites, app design, and engaging brand experiences. Find
        out more about our services.
      </p>
      <a href="./about.html" class="c-buttonPrimary"><span>Learn More</span></a>
    </div>
  </div>
  <%- include('partials/projectCategories', { categories: categories }) %> <%-
  include('partials/cards', {noBtn:true}) %>
</div>
<%- include('partials/footer') %>
