<%- include('partials/header') %>

<div class="c-designCard">
  <div class="c-designCard__inner">
    <figure class="c-designCard__img">
      <img src="./assets/img/Express - Desktop-min.png" alt="" />
    </figure>
    <div class="c-designCard__body">
      <h2 class="c-designCard__title c-heading3 u-textPeach">EXPRESS</h2>
      <p class="c-designCard__text">
        A multi-carrier shipping website for ecommerce businesses
      </p>
    </div>
    <!-- /c-designCard__body -->
  </div>
  <!-- /c-designCard__inner -->
</div>
