@use "../global" as global;

.u-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #000;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.3s;

  &.is-active {
    opacity: 0.5;
    height: calc(100% - var(--headerH));
  }
}
