@use "../global" as global;

.c-bg1 {
  position: relative;
  &::before {
    content: "";
    display: none;
    background: url(../../assets/img/img_bg.svg) no-repeat;

    background-size: min(1006px, 100%) 594px;
    width: 100vw;
    height: 594px;
    position: absolute;
    z-index: -5;
    transform: rotate(180deg);
    transform-origin: center;
    // bottom: -306px;
    // right: max(calc(50% - 50vw), -164px);

    @include global.mq(lg) {
      display: block;
    }
  }
}
