@use "../global" as global;

.c-card {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  width: 100%;
  height: auto;
  container-type: inline-size;
  display: block;
}

.c-card__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-card__img {
  width: 202px;
  flex-shrink: 0;
}

.c-card__body {
  text-align: center;

  a {
    display: inline-block;
    margin-top: 32px;
  }
}

.c-card__title {
  margin-top: 48px;
}

.c-card__text {
  margin-top: 32px;
}

@container (min-width:351px) {
  .c-card__inner {
    flex-direction: row;
    gap: 48px;
  }

  .c-card__body {
    text-align: left;
  }
  .c-card__title {
    margin-top: unset;
  }

  .c-card__text {
    margin-top: 16px;
  }
}
