@use "../global" as global;

.c-heading1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 36px; /* 112.5% */
  @include global.mq(md) {
    font-size: 48px;
    line-height: 1;
  }
}

.c-heading2 {
  color: var(--black);
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 2px;
}

.c-heading3 {
  color: var(--darkGray);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.c-heading4 {
  color: #333136;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px; /* 100% */
  letter-spacing: 2px;
}

.c-heading5 {
  font-size: 32px;
  font-weight: 500;
  line-height: 36px; /* 112.5% */

  @include global.mq(md) {
    font-size: 40px;
    line-height: 40px; /* 100% */
  }
}

.c-heading2.--spSm {
  color: var(--white);
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 1.4px;
  text-transform: uppercase;

  @include global.mq(md) {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 2px;
  }
}

.c-textSpSm {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px; /* 166.667% */

  @include global.mq(md) {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
}
