@use "../global" as global;

.l-contents {
  .l-inner {
    display: flex;
    flex-direction: column;
    gap: 120px;

    @include global.mq(lg) {
      gap: 160px;
    }
  }
}

.l-contents {
  .l-inner {
    > div {
      &:first-child {
        margin-inline: calc(50% - 50vw);

        @include global.mq(md) {
          margin-inline: unset;
          border-radius: 15px;
        }
      }
    }
  }
}

.l-contents.--top {
  &::before {
    display: none;

    @include global.mq(lg) {
      display: block;
      transform: rotate(0);
      top: 270px;
    }
  }
  .p-projectCategories {
    @include global.mq(lg) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 308px 308px;
      column-gap: 30px;
      row-gap: 24px;

      .p-projectCategories__item {
        &:first-child {
          grid-row: 1/3;
        }
      }
    }
  }

  .p-cards {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;

    &::before {
      bottom: -306px;
      right: max(calc(50% - 50vw), -164px);
    }

    @include global.mq(md) {
      gap: 32px;
    }

    @include global.mq(lg) {
      flex-direction: row;
    }

    &::before {
    }
  }

  // .c-card {
  //   flex-direction: row;
  //   gap: 48px;
  // }

  // .c-card__body {
  //   text-align: left;
  // }
  // .c-card__title {
  //   margin-top: unset;
  // }

  // .c-card__text {
  //   margin-top: 16px;
  // }
}
