@use "../global" as global;

.l-contents {
  overflow: hidden;
  > .l-inner {
    display: flex;
    flex-direction: column;
    gap: 120px;

    @include global.mq(lg) {
      gap: 160px;
    }
  }
}

.l-contents {
  > .l-inner {
    > div {
      &:first-child {
        margin-inline: calc(50% - 50vw);

        @include global.mq(md) {
          margin-inline: unset;
          border-radius: 15px;
        }
      }
    }
  }
}

.l-contents.--top {
  &::before {
    display: none;

    @include global.mq(lg) {
      display: block;
      transform: rotate(0);
      top: 270px;
    }
  }
  .p-projectCategories {
    @include global.mq(lg) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 308px 308px;
      column-gap: 30px;
      row-gap: 24px;

      .p-projectCategories__item {
        &:first-child {
          grid-row: 1/3;
          height: auto;
        }
      }
    }
  }

  .p-cards {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;

    @include global.mq(md) {
      gap: 32px;
    }

    @include global.mq(lg) {
      flex-direction: row;
    }
  }

  + .l-footer::before {
    top: -678px;
    right: calc(50% - min(720px, 50vw));
    left: unset;
  }
}

.l-contents.--works {
  &::before {
    transform: rotate(0);
    top: 126px;
  }

  .l-inner {
    gap: 96px;

    @include global.mq(md) {
      gap: 120px;
    }

    @include global.mq(lg) {
      gap: 160px;
    }
  }
}

.l-contents.--about {
  &::before {
    transform: rotate(0);
    top: 320px;
  }

  .p-cards {
    padding-block: 120px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include global.mq(md) {
      padding-block: 0;
    }

    @include global.mq(lg) {
      flex-direction: row;
    }

    &::before {
      transform: rotate(0);
      top: 182px;
      right: -561px;
      left: unset;
    }
  }

  .c-card {
    max-width: 350px;
  }

  .p-feature {
    &:nth-of-type(2) {
      .p-feature__body::before {
        left: 0;
      }
    }
  }
}

.l-contents.--contact {
  .p-cards {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include global.mq(md) {
    }

    @include global.mq(lg) {
      flex-direction: row;
    }
  }
  .c-card {
    max-width: 350px;
  }

  + .l-footer::before {
    top: -434px;
    right: calc(50vw - min(720px, 50%));
    left: unset;
    transform: rotate(0);
  }
}
