@use "../global" as global;

.p-locations {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include global.mq(md) {
    gap: 120px;
  }

  @include global.mq(lg) {
    gap: 32px;

    .p-locationCard {
      &:nth-of-type(2n + 1) {
        flex-direction: row-reverse;
      }
    }
  }
}
