@use "../global" as global;

.p-nav.--header {
  background-color: var(--black);
  padding: 48px 24px;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  color: var(--white);

  &.is-active {
    opacity: 1;
    visibility: visible;
  }

  @include global.mq(md) {
    color: var(--darkGray);
    background-color: transparent;
    width: fit-content;
    opacity: 1;
    visibility: visible;
  }

  ul {
    // display: flex;
    // flex-direction: column;
    // gap: 32px;
    align-items: flex-start;

    @include global.mq(md) {
      flex-direction: row;
      gap: 42px;
    }
  }

  a {
    font-size: 24px;
    font-weight: 400;
    line-height: 25px; /* 104.167% */
    letter-spacing: 2px;

    @include global.mq(md) {
      font-size: 14px;
      font-weight: 400;
      line-height: 14px; /* 100% */
      letter-spacing: 2px;
    }
  }
}

.p-nav {
  color: var(--white);
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;

    @include global.mq(md) {
      flex-direction: row;
      gap: 42px;
    }
  }

  a {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px; /* 100% */
    letter-spacing: 2px;
    border-bottom: 1px solid transparent;
    transition: border 0.3s;

    &:hover,
    &:focus-visible {
      border-bottom: 1px solid currentColor;
    }
  }
}
